.delete-button {
  margin-top: 1rem;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 3px;
  background-color: #F24236;
  border-color: transparent;
  color: #ffffff;
  font-weight: 300;
}

.delete-button:hover {
  cursor: pointer;
  opacity: 0.9;
}

.delete-button:focus {
  outline: transparent;
}
